<div *ngFor="let chapter of chapters">
  <!--  {{fanfic.author}}-->
  <mat-card class="example-card" >
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{chapter.title}}</mat-card-title>
      <mat-card-subtitle>{{chapter.id}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{chapter.picture}}" [hidden]="chapter.picture==null" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        {{chapter.text}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  <!--  <a routerLink="/read">read</a>-->
</div>
