

<ngx-dropzone [multiple]="false"  (change)="onSelect({event : $event})">
  <ngx-dropzone-label>Drop it</ngx-dropzone-label>
  <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove({event : f})">
    <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
  </ngx-dropzone-preview>
</ngx-dropzone>
<button (click)="uploadAvatar()">upload</button>

<div *ngFor="let fandom of fandoms" >
  <label >{{fandom.fandom}}</label>

<!--  <mat-slide-toggle>Slide me!</mat-slide-toggle>-->
  <mat-button-toggle-group [value]="selectedVal" name="fontStyle" aria-label="Font Style">
    <mat-button-toggle (change)="addPreference(fandom.fandom)" value="Enable">Enable</mat-button-toggle>
    <mat-button-toggle (change)="removePreference(fandom.fandom)" value="Disable">Disable</mat-button-toggle>
  </mat-button-toggle-group>
</div>
<button (click)="savePreferences()">save preferences</button>
